.wrapper-content-main-about{
  margin: 16px auto;
  padding: 54px;
  width: clamp(200px, 75vw, 800px); // IF CHANGED, CHANGE IN PROJECT AS WeLL
  border: 1px solid var(--color-border-light-grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
  div{
    width: clamp(220px, 30vw, 300px); // IF CHANGE; CHANGE AS WELL IN PROJECT
    height: auto;
    img{
      object-fit: cover;
      width: clamp(220px, 25vw, 300px); // IF CHANGE; CHANGE AS WELL IN PROJECT
      height: auto;
    }
  }
}