.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.backgroundStars {
  // background: var(--color-white) url(../images/yellow_pricks.png) repeat top center;
  background: transparent url(../images/starsWater.png) repeat top center;
  animation: space 325s cubic-bezier(0.25,0.5,0.25,0.5) infinite;
  z-index: -3;
}
.backgroundStars2 {
  // background: var(--color-white) url(../images/yellow_pricks.png) repeat top center;
  background: #ffffff  url(../images/starsf3f9c1.png) repeat top center;
  animation: space2 325s linear infinite;
  z-index: -4;
}
.backgroundWhite {
  background: transparent url(../images/alphawhite.png) repeat top center;
  animation: stargazing 500s linear infinite;
  z-index: -2;
}
.backgroundDist {
  background: transparent url(../images/nebula.png) repeat top center;
  z-index: -1;
  opacity: 0.15;
}

@keyframes stargazing {
  from { background-position: 0 0; }
  to { background-position: 10000px -5000px; }
}

@keyframes space {
  0% { background-position: 0 0;
  opacity: 0.6;}
  25% { background-position: -2500px -1250px ;
    opacity: 0.8;}
  50% { background-position:  -5000px -2500px;
  opacity: 1;}
  75% { background-position: -7500px -3750px  ;
    opacity: 0.8;}
  100% { background-position: -10000px -5000px;
      opacity: 0.6;}
}
@keyframes space2 {
  0% { background-position: -1250px -600px;
    opacity: 0.6;}
    25% { background-position: -2500px -1250px ;
      opacity: 0.8;}
    50% { background-position:  -5000px -2500px;
    opacity: 1;}
    75% { background-position: -7500px -3750px ;
      opacity: 0.8;}
    100% { background-position: -10000px -5000px;
        opacity: 0.6;}
}
