header {
  position: relative;
  padding: 1rem 0rem 0rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    @media screen and (max-width: 608px) {
      align-content: flex-start;
      flex-direction: column;
    }

    #logo-name {
      margin: 8px;
      transition: text-shadow, border 0.2s linear;

      padding: 8px;
      border: 2px solid transparent;
      border-radius: var(--border-radius-wrapper);

      a {
        display: inline-block;
        text-decoration: none;
        font-family: "Noctis";
        font-size: clamp(17px, 1.5em, 24px);
        font-weight: bold;
        letter-spacing: 0.25em;
      }
    }
    #logo-name:hover {
      transition: text-shadow, border 0.2s linear;
      opacity: 1;
      text-shadow: 0 0 1.3em var(--color-hover-blue);

      border: 2px solid var(--color-border-button);
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0 8px;
      align-items: center;
      @media screen and (max-width: 608px) {
        align-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
      }

      li a {
        display: inline-block;
        margin: 0 1rem;
        font-size: clamp(17px, 1.5rem, 20px);
        font-weight: 700;
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: var(--border-radius-wrapper);
        transition: transform, opacity, text-shadow, border 0.2s linear;
        opacity: 0.7;
        padding: 8px;
      }
      a:hover {
        transform: translate(0, -3px);
        transition: opacity, text-shadow 0.2s linear;
        opacity: 1;
        text-shadow: 0 0 1.3em var(--color-hover-blue);
        border: 2px solid var(--color-border-button);
      }
    }
  }
}
