header {
  position: fixed;
  top: 0;
  padding: 1rem 0rem 0rem 1rem;
  width:100%;
  display: flex;
  justify-content: flex-end; 
  z-index: 999;

  // div {
  //   border-radius: 0px 0px 0px 8px;
  //   margin-top: -1rem;
  //   display: flex;
  //   flex-wrap: nowrap;
  //   align-items: center;
    
  //   background-color: var(--nav-blue);

    nav {
      display: flex;
      justify-content: space-between;
      width: 100vw;
      // align-items: center;

      div{
        font-size: clamp(17px, 1.5rem, 24px);
          font-weight: bold;
          letter-spacing: 0.3em;

          a{
            text-decoration: none;
          }
      }
      
      ul {
        display: flex;
        justify-content: space-between;
        list-style:none;

        li a{
          margin: 1rem;
          font-size: clamp(17px, 1.5rem, 24px);
          font-weight: 700;
          text-decoration: none;
          cursor: pointer;
        }
      }
      
      
    }
    
    section {
      display: flex;
      align-items: center;
    
      color: var(--color-dark);
      font-size: 1.5rem;
      font-weight: bold;
    }
  // }
}