.wrapper-content-main-projects{
  section {
    transition: text-shadow, opacity 0.2s 0s linear;
    margin-bottom: 200px;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 200px;
    z-index: 3;
    background-color: var(--color-white);

    a {
      margin: 16px auto;
      padding: 54px;
      width: clamp(200px, 75vw, 800px); // TAKE FROM HERE FOR ABOUT AS WELL
      border: 1px solid var(--color-border-light-grey);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      @media screen and (max-width: 750px) {
        flex-direction: column;
      }

      div {
        width: clamp(100px, 30vw, 300px); // TAKE FROM HERE TO ABOUT AS WELL
        height: auto;

        img {
          object-fit: cover;
          width: clamp(100px, 30vw, 300px);
          height: auto;
        }
      }
    } 
  }
  section:nth-child(even) {
    a {
      flex-direction: row-reverse;
      @media screen and (max-width: 750px){
        flex-direction: column;
      }
      .wrapper-card-content{
        text-align: right;
        @media screen and (max-width: 750px) {
          text-align: left;;
        }
      }
    }
  }
  section:first-child{
    margin-top: 100px;
  }
  section:hover{
    transition: text-shadow, opacity 0.2s 0s linear;
    transform: translate(0,-3px);
    box-shadow: 0 0 1em var(--color-hover-blue);     
  }
}

#project-date{
  font-style: italic;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  padding-bottom: 8px;
}
#projects-icons{
  display: block;
  margin: 12px 0;


  svg{
  width: 2.5em;
  height: 1.8em;
  margin-top: 2px;
  padding: 0 4px;
  }
    i.fa-brands{
    font-size: 1.7em;
    padding: 0 4px;
    }

}
#after-projects{
  height: 35vh;
}

