.wrapper-content-main-project {
  section {
    margin: 16px auto;
    padding: 54px;
    padding-bottom: 24px;
    width: clamp(220px, 75vw, 800px); // CHANGE DIV AND IMG CLAMP AS WELL TO LESSER THAN HERE
    border: 1px solid var(--color-border-light-grey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-white);
    border-radius: var(--border-radius-wrapper);
    div {
      width: clamp(220px, 60vw, 700px); // should be equal or more than img clamp 
      height: auto;
      text-align: center;
      margin-bottom: 20px;

      img {
        object-fit: cover;
        width: clamp(220px, 50vw, 700px); // CHANGE AS WELL div:nth-child(1)
        height: auto;
        border-radius: var(--border-radius-wrapper);
        // margin-bottom: 24px;
      }

      a {
        margin: 0 8px;
        text-decoration: none;
        transition: transform, text-shadow, opacity 0.2s 0s linear;
        padding: 8px 16px;
        border: 2px solid var(--color-border-button);
        border-radius: var(--border-radius-wrapper);
        font-size: 1.5em;
        font-weight: 700;
        text-shadow: 0 0 1.3em var(--color-hover-blue);
        background-color: var(--color-white);
      }
      a:hover {
        transition: transform, text-shadow, opacity 0.2s 0s linear;
        background-color: #7272ea44;
        border: 2px solid var(--color-white);
        color: var(--color-white);
      }
    }
    .wrapper-img {
      width: clamp(220px, 50vw, 700px);
    }

    h3:nth-of-type(1) {
      margin-top: 24px;
    }
    .wrapper-card-buttons {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: nowrap;

      @media screen and (max-width: 906px) {
        flex-direction: column;
        // align-items: center;
      }
      a:nth-child(1) {
        @media screen and (max-width: 906px) {
          margin-bottom: 16px;
        }
      }
    }
  }
  // For the diashow
  .wrapper-img {
    position: relative; // for the diashow if project has more than one picture
  }
  .gallery-margin {
    margin-bottom: 54px;
  }
  .diashow-arrows-buttons {
    border: 2px solid transparent;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.16);
    transition: 0.6s ease;

    .arrow-divs {
      height: 0;
      width: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      margin: 0 4px;
    }
  }

  .button-previous-arrow {
    position: absolute;
    left: -58px;
    bottom: 0;
    transform: translate(0, -50%);
    width: auto;
    padding: 0 4px 0 0;
    border-radius: 50% 0 0 50%;

    @media screen and (max-width: 460px) {
      left: 20px;
      bottom: -60px;
    }

    .previous-arrow-div {
      border-right: 16px solid var(--color-font-dark);
    }
  }
  .button-next-arrow {
    position: absolute;
    right: -58px;
    bottom: 0;
    transform: translate(0, -50%);
    padding: 0 0 0 4px;
    border-radius: 0 50% 50% 0;
    @media screen and (max-width: 460px) {
      right: 20px;
      bottom: -60px;
    }

    .next-arrow-div {
      border-left: 16px solid var(--color-font-dark);
    }
  }
}

.diashow-arrows-buttons:hover {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 1.3em var(--color-hover-blue);
  border: 2px solid var(--color-border-button);
  @media screen and (max-width: 460px) {
    border: 2px solid transparent;
  }
  .previous-arrow-div {
    border-right: 16px solid rgb(14, 6, 167);
  }
  .next-arrow-div {
    border-left: 16px solid rgb(14, 6, 167);
  }
}

.wrapper-circles-diashow {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;

  circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 1px solid var(--color-border-button);
    padding: 4px;
    margin: 1px;
  }
  .circle-selected {
    background-color: rgba(34, 0, 255, 0.461);
  }
}

.wrapper-link {
  margin: 0px auto;
  margin-top: 48px;
  a {
    margin: 0 1rem;
    font-size: clamp(17px, 1.5rem, 20px);
    font-weight: 700;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: var(--border-radius-wrapper);
    transition: transform, opacity, text-shadow, border 0.2s linear;
    opacity: 0.7;
    padding: 8px;
  }
  a:hover {
    transform: translate(0, -3px);
    transition: opacity, text-shadow 0.2s linear;
    opacity: 1;
    text-shadow: 0 0 1.3em var(--color-hover-blue);
    border: 2px solid var(--color-border-button);
  }
}

#project-title {
  padding-left: 20px;
  padding-right: 20px;
}
