@import "_project.scss";
@import "_about.scss";
@import "_header.scss";
@import "_footer.scss";

:root {
  --color-white: #FAFBFB;
  --color-font-dark: #625a71; // #190B36
  --color-border-light-grey: rgb(236, 231, 237); // #DEDDE9
  --color-button-hover-light-blue: #BAC1FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'libre-franklin-regular', sans-serif; // Change the font?!? 
  color: var(--color-font-dark);
  button {
    cursor: pointer;
  }
  h1, h2, h3 {
    font-family: 'calibri-bold', sans-serif;
    margin: 8px auto;
  }
  p {
    font-family: 'calibri-regular', sans-serif;
  }
}

body {
  min-height: 100%;
  width: 100%;
  background: var(--color-white); //#8DB8C9;
  // background-size: cover;
  // background-position: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 608px) {
    padding-top: 9rem;
    }
  // background-image: url("/public/images/thehillsbakgrundfinal1.png");
  // background-size: contain;
  // background-position:center;
  // background-repeat:repeat-x;
}
